/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
   1. Get all the navigation items next to one another
   2. Add a space between all the items
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.section-title {
    color: #87629A;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}
.row__top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 660px;
}
.hero__text{
    width: 430px;
}

.hero__text p {
    text-transform: uppercase;
}

.hero {
    background-color: #F3EED9;
    color: #824936;
}

.main {
    margin-top: 3em;
}

.primary-content1 {
    width: 48%;
}
.primary-content2 {
    width: 48%;
}

.main__title {
    text-align: center;
    color: #824936;
}

.a__hero {
    padding: 100px 0;
    background-color: #222C2A;
    color: #F3EED9;
}
.a__text {
    width: 47%;
}

.a__img {
    width: 47%;
    align-self: flex-start;
}


.b__hero {
    padding: 100px 0;
    background-color: #824936;
    color: #F3EED9;
}



.main__section {
    padding: 100px 0;
    background-color: white;
    color: #222C2A;
}